@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400&display=swap');

.App {
  font-family: sans-serif;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
}
