@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

html {
  background-color: #121212;
  color: rgba(255, 255, 255, 0.5);
}

.App {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

.btnAnswer {
  display: block;
  margin: 0 auto;
  width: 300px;
  background-color: #272727;
  font-size: 20px;
  cursor: pointer;
  color: white;
  border: none;
  margin-bottom: 10px;
  padding: 10px 30px;
  border-radius: 2px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.btnAnswer:hover {
  opacity: 0.8;
}

.scoreWrapper {
  position: absolute;
  bottom: 0px;
  width: 100%;
  /* background-color: #f5f5f5; */
  text-align: center;
}

h3.correct {
  display: inline-block;
  vertical-align: middle;
  margin: 1em;
}

h2.userGreeting {
  font-size: 18px;
  color: blue;
}

h2.pass {
  color: green;
}

h2.fail {
  color: red;
}

.resultMessage {
  /* background-color: #f7f7f7; */
  padding: 10px 10px;
  width: 80%;
  margin: 0 auto;
}

.questions {
  color: #fff;
}
